section {
    background-color: pink;
    display: flex;
    border: black 2px solid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.container {
    border: blue 2px solid;
}
.photo {
    display: flex;
    flex: content center;
    border: green solid;
}
.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}